>>> # LOCALIZED MODELS FOR BETTER ESTIMATION OF POVERTY LEVELS - A CASE STUDY OF KIVA

>> ## INTRODUCTION


The war against global poverty has seen tremendous progress, with over 25% of the world population rising out of extreme poverty since 1990. However, 10% of the world's population currently lives in extreme poverty, and half of them live in only 5 economies: India, Nigeria, DRC, Ethiopia and Bangladesh. 41% of the Sub-Saharan population is living in extreme poverty. On the other hand, East Asia and The Pacific, and Europe and Central Asia have less than 3% of their population living in extreme poverty, successfully reaching the 2030 target to eradicate global poverty.

Root causes of poverty are not only lack of access to basic necessities (food, shelter, clothing, education, healthcare), but also inequalities including discrimination, conflicts, poor governance and domestic violence. These inequalities also restrict a person's or society's access to social services that could help them overcome poverty. One of these services is financial services.

<b>PROBLEM STATEMENT</b>:- 
- More than 1.7 billion adults around the world are unbanked and 56% of all unbanked adults are women. 75% of those living in extreme poverty canâ€™t access the financial services they need. This is not only because of poverty, but also cost, travel distance and bureaucracies. 'Because account ownership is nearly universal in high-income economies, virtually all these unbanked adults live in the developing world. Indeed, nearly half live in just seven developing economies: Bangladesh, China, India, Indonesia, Mexico, Nigeria, and Pakistan.'Source: World Bank.

- Since poverty and financial exclusion looks different in various places and is caused by different factors, the work to eradicate it requires localized models depending on the context.


>> ## BACKGROUND ON KIVA

Kiva is an international nonprofit that aims to expand financial inclusion to underserved communities by crowdfunding loans through their site. The site is open to borrowers, lenders, field partners, trustees, among others. A borrower applies for a loan, either directly or through field partners, which then goes through the due diligence process. If it qualifies, it's posted on Kiva for lenders to contribute. The fundraising period is usually not more than 30 days. The borrower then receives the loan and is expected to pay it back according to the terms of the loan. The funds are then paid back to the lenders who can either withdraw, donate or fund other borrowers.

As of May 2020, Kiva boasts of 1.9 million lenders who have funded loans worth 1.44 billion dollars to 3.6 million borrowers spread across 77 countries with a 96% repayment rate. Unlike other lenders, Kiva doesn't use credit scores in the process of approving loans to borrowers. Instead, approval is based on one's character, impact of the loan on the community and the support one receives from the community. Most loans on Kiva attract a 0% interest rate.



> <b> LOAN PARAMETERS</b>

1. <b>Disbursement</b>

There are two ways the loans are disbursed:
> - <b>Direct loans</b> :- These loans are fundraised by and paid directly to the borrower. They can not be pre-disbursed, pose a higher risk of default, and are only open to businesses in The U.S and social enterprises internationally.
> - <b>Field partner loans</b> :- Loans are fundraised by and paid to Kiva's field partners who then disburse it to the borrowers. Partner loans can be pre-disbursed, where a partner disburses funds to the borrower before the loan is posted on Kiva for crowdfunding. They have a lower risk of default as partners assist in collection.

2. <b>Loan length</b>

> Term in months:- Number of months from the disbursement date to the date the last payment is due.

3. <b>Repayment schedule</b>
> Frequency with which payments are sent to Kiva lenders. It could either be bullet, weekly, monthly or irregularly

4. <b>Funding model</b>
> Shows how funding is sent to the field. There are two options:
> - <b>Fixed</b>:- Total amount must be raised for the funds to be sent to the field partner. If the loan is not fully funded, it expires and all contributions are sent back to lenders' Kiva accounts.
> - <b>Flexible</b>:- Any funds raised will be disbursed to the field partners who will come up with other sources of funds to cover the deficit.


<b>OBJECTIVES</b>

- Build more localized models to estimate poverty levels of residents in the regions where Kiva has active loans.
- Explore the data using Python to help Kiva understand their borrowers and their poverty levels
- Help Kiva better asses and maximize the impact of their work

<b>HYPOTHESIS</b>

- Most borrowers are from Sub-Saharan Africa
- Loans in regions with lower MPI require fewer lenders to get funding
- Countries with higher MPI have higher values of loans
- Generally most loans go towards agriculture and education
- Most Kiva borrowers are women
- Men borrow for revenue generation while women borrow for basic needs
- Most loans to Sub-Saharan Africa, South Asia and East Asia and The Pacific are in the agricultural sector.


>> ## ASSUMPTIONS

- All loans missing Partner ID are direct loans
- All loans where ['forkiva'] is True are Kiva specific i.e they are not loans to be distributed to borrowers
- Where loan amount does not equal funded amount, the loan was either still fundraising at the time or didn't get full funding on Kiva.
- The MPI of a world region, in absence of countrywise MPI, generously represents the MPI of the countries in that region.
- Regions with higher population living in multi-dimensional poverty also have higher numbers of the world's unbanked population.

>> ## SCOPE OF THE ANALYSIS

- This analysis covers Kiva loans posted between 2014 and 2017

In [1]:
# Do the necessary imports and load the data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
Loans_df                        = pd.read_csv("Documents/kiva_loans.csv")
MPI_by_location_df              = pd.read_csv("Documents/kiva_mpi_region_locations.csv")
Loan_theme_id_df                = pd.read_csv("Documents/loan_theme_ids.csv")
Loan_themes_by_region_df        = pd.read_csv("Documents/loan_themes_by_region.csv")

In [2]:
# Preview the data
display('Loans data', Loans_df.head(3), 'Locationwise MPI', MPI_by_location_df.head(3), 'Loan Themes', Loan_theme_id_df.head(3), 'Loan themes by region', Loan_themes_by_region_df.head(3))

'Loans data'

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01

'Locationwise MPI'

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754

'Loan Themes'

       id    Loan Theme ID   Loan Theme Type  Partner ID
0  638631  a1050000000skGl           General       151.0
1  640322  a1050000000skGl           General       151.0
2  641006  a1050000002X1ij  Higher Education       160.0

'Loan themes by region'

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0

In [3]:
Loans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null object
disbursed_time        668809 non-null object
funded_time           622874 non-null object
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  499789 non-null object
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

In [4]:
MPI_by_location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB

In [5]:
Loan_theme_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB

In [6]:
Loan_themes_by_region_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB

>> ## DATA PREPARATION

In [7]:
pd.options.display.float_format = '{:,}'.format
pd.options.display.float_format = "{:,.2f}".format
Loans = Loans_df.drop(['use','date','activity','country_code','currency','tags'], axis =1)
display(Loans)

,id,funded_amount,loan_amount,sector,country,region,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,borrower_genders,repayment_interval
0,653051,300.00,300.00,Food,Pakistan,Lahore,247.00,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.00,12,female,irregular
1,653053,575.00,575.00,Transportation,Pakistan,Lahore,247.00,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.00,14,"female, female",irregular
2,653068,150.00,150.00,Transportation,India,Maynaguri,334.00,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.00,6,female,bullet
3,653063,200.00,200.00,Arts,Pakistan,Lahore,247.00,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.00,8,female,irregular
4,653084,400.00,400.00,Food,Pakistan,Abdul Hakeem,245.00,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.00,16,female,monthly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,ConcepciÃ³n,58.00,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,NaN,13.00,0,female,monthly
671201,1340316,25.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.00,1,female,monthly
671202,1340334,0.00,25.00,Entertainment,Kenya,NaN,138.00,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,NaN,13.00,0,NaN,monthly
671203,1340338,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,NaN,13.00,0,female,monthly
671204,1340339,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.00,0,female,monthly

In [8]:
# Check for duplicates in the loans df
display(Loans.duplicated().any())

False

In [9]:
#Get borrower count in figures(male,female and total) and any other needed columns
Loans['posted_time'] = Loans['posted_time'].astype('datetime64')
Loans['disbursed_time'] = Loans['disbursed_time'].astype('datetime64')
Loans['funded_time'] = Loans['funded_time'].astype('datetime64')
Loans['male_count'] = Loans['borrower_genders'].str.count('male').fillna(0)
Loans['female_count'] = Loans['borrower_genders'].str.count('female').fillna(0)
Loans['borrower_count'] = Loans['female_count'] + Loans['male_count'].fillna(0)
Loans['pre_disbursed'] = np.where(Loans['posted_time']>Loans['disbursed_time'],'True','False')
Loans['year'] = pd.DatetimeIndex(Loans['posted_time']).year
Loans['direct'] = np.where(Loans['partner_id'].isnull(),Loans['funded_amount'],0)
display(Loans)

,id,funded_amount,loan_amount,sector,country,region,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,borrower_genders,repayment_interval,male_count,female_count,borrower_count,pre_disbursed,year,direct
0,653051,300.00,300.00,Food,Pakistan,Lahore,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,12.00,12,female,irregular,1.00,1.00,2.00,True,2014,0.00
1,653053,575.00,575.00,Transportation,Pakistan,Lahore,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,11.00,14,"female, female",irregular,2.00,2.00,4.00,True,2014,0.00
2,653068,150.00,150.00,Transportation,India,Maynaguri,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,43.00,6,female,bullet,1.00,1.00,2.00,True,2014,0.00
3,653063,200.00,200.00,Arts,Pakistan,Lahore,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,11.00,8,female,irregular,1.00,1.00,2.00,True,2014,0.00
4,653084,400.00,400.00,Food,Pakistan,Abdul Hakeem,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,14.00,16,female,monthly,1.00,1.00,2.00,True,2014,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,ConcepciÃ³n,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,0,female,monthly,1.00,1.00,2.00,True,2017,0.00
671201,1340316,25.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-25 06:14:08,2017-07-24 07:00:00,2017-07-26 02:09:43,13.00,1,female,monthly,1.00,1.00,2.00,True,2017,0.00
671202,1340334,0.00,25.00,Entertainment,Kenya,NaN,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,13.00,0,NaN,monthly,0.00,0.00,0.00,True,2017,0.00
671203,1340338,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,13.00,0,female,monthly,1.00,1.00,2.00,True,2017,0.00
671204,1340339,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,13.00,0,female,monthly,1.00,1.00,2.00,True,2017,0.00

In [10]:
#Check Loan_theme_id_df for duplicates
Loan_theme_id_df.duplicated().any()

False

In [11]:
#Merge Loans with Loan_theme_id_df
Loans = pd.merge(Loans, Loan_theme_id_df, how='outer', on='id')
display(Loans)

,id,funded_amount,loan_amount,sector,country,region,partner_id,posted_time,disbursed_time,funded_time,...,repayment_interval,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme ID,Loan Theme Type,Partner ID
0,653051,300.00,300.00,Food,Pakistan,Lahore,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,...,irregular,1.00,1.00,2.00,True,"2,014.00",0.00,NaN,NaN,nan
1,653053,575.00,575.00,Transportation,Pakistan,Lahore,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,...,irregular,2.00,2.00,4.00,True,"2,014.00",0.00,a1050000000sjEC,Underserved,247.00
2,653068,150.00,150.00,Transportation,India,Maynaguri,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,...,bullet,1.00,1.00,2.00,True,"2,014.00",0.00,a1050000002VkWz,Underserved,334.00
3,653063,200.00,200.00,Arts,Pakistan,Lahore,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,...,irregular,1.00,1.00,2.00,True,"2,014.00",0.00,a1050000000sjEC,Underserved,247.00
4,653084,400.00,400.00,Food,Pakistan,Abdul Hakeem,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,...,monthly,1.00,1.00,2.00,True,"2,014.00",0.00,a1050000000wf22,General,245.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779093,1444237,nan,nan,NaN,NaN,NaN,nan,NaT,NaT,NaT,...,NaN,nan,nan,nan,NaN,nan,nan,a1050000000wf0h,General,136.00
779094,1444238,nan,nan,NaN,NaN,NaN,nan,NaT,NaT,NaT,...,NaN,nan,nan,nan,NaN,nan,nan,a1050000000wf0h,General,136.00
779095,1444240,nan,nan,NaN,NaN,NaN,nan,NaT,NaT,NaT,...,NaN,nan,nan,nan,NaN,nan,nan,a1050000000wf0h,General,136.00
779096,1444241,nan,nan,NaN,NaN,NaN,nan,NaT,NaT,NaT,...,NaN,nan,nan,nan,NaN,nan,nan,a1050000000wf22,General,245.00
779097,1444243,nan,nan,NaN,NaN,NaN,nan,NaT,NaT,NaT,...,NaN,nan,nan,nan,NaN,nan,nan,a1050000000wf22,General,245.00

In [12]:
Loans.duplicated().any()

False

In [13]:
#Get loans data within scope of analysis
Posted_Loans = Loans[Loans['posted_time'].notnull()].drop('Partner ID', axis=1)
Posted_Loans['year'] =Posted_Loans['year'].astype('int64')
display(Posted_Loans)

,id,funded_amount,loan_amount,sector,country,region,partner_id,posted_time,disbursed_time,funded_time,...,borrower_genders,repayment_interval,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme ID,Loan Theme Type
0,653051,300.00,300.00,Food,Pakistan,Lahore,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,...,female,irregular,1.00,1.00,2.00,True,2014,0.00,NaN,NaN
1,653053,575.00,575.00,Transportation,Pakistan,Lahore,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,...,"female, female",irregular,2.00,2.00,4.00,True,2014,0.00,a1050000000sjEC,Underserved
2,653068,150.00,150.00,Transportation,India,Maynaguri,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,...,female,bullet,1.00,1.00,2.00,True,2014,0.00,a1050000002VkWz,Underserved
3,653063,200.00,200.00,Arts,Pakistan,Lahore,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,...,female,irregular,1.00,1.00,2.00,True,2014,0.00,a1050000000sjEC,Underserved
4,653084,400.00,400.00,Food,Pakistan,Abdul Hakeem,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,...,female,monthly,1.00,1.00,2.00,True,2014,0.00,a1050000000wf22,General
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,ConcepciÃ³n,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,...,female,monthly,1.00,1.00,2.00,True,2017,0.00,a1050000000wf0q,General
671201,1340316,25.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-25 06:14:08,2017-07-24 07:00:00,2017-07-26 02:09:43,...,female,monthly,1.00,1.00,2.00,True,2017,0.00,a1050000000wf0q,General
671202,1340334,0.00,25.00,Entertainment,Kenya,NaN,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,...,NaN,monthly,0.00,0.00,0.00,True,2017,0.00,a1050000000wf0q,General
671203,1340338,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,...,female,monthly,1.00,1.00,2.00,True,2017,0.00,a1050000000wf0q,General
671204,1340339,0.00,25.00,Agriculture,Kenya,NaN,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,...,female,monthly,1.00,1.00,2.00,True,2017,0.00,a1050000005nzX8,Water

In [14]:
Posted_Loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 22 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
sector                671205 non-null object
country               671205 non-null object
region                614405 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null float64
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
male_count            671205 non-null float64
female_count          671205 non-null float64
borrower_count        671205 non-null float64
pre_disbursed         671205 non-null object
year                  671205 non-null int64
direct                671205 non-null float64
Loan Theme ID         657692 non-null object
Loan Theme Type       657692 non-null object
dtypes: datetime64[ns](3), float64(9), int64(2), object(8)
memory usage: 117.8+ MB

In [15]:
#Merge Posted_Loans with MPI_by_location to get MPI. First check for duplicate country entries
MPI_by_location_df.duplicated('country').any()

True

In [16]:
MPI = MPI_by_location_df.drop_duplicates('country').drop(['ISO','geo','lat','lon','region','LocationName'], axis=1)
display(MPI)

           country             world_region  MPI
0      Afghanistan               South Asia 0.39
34         Albania  Europe and Central Asia  nan
35         Armenia  Europe and Central Asia  nan
36      Azerbaijan  Europe and Central Asia  nan
37         Burundi       Sub-Saharan Africa 0.16
...            ...                      ...  ...
966          Yemen              Arab States 0.20
987   South Africa       Sub-Saharan Africa  nan
988         Zambia       Sub-Saharan Africa 0.29
998       Zimbabwe       Sub-Saharan Africa 0.01
1008           NaN                      NaN  nan

[103 rows x 3 columns]

In [17]:
Kiva_df = pd.merge(Posted_Loans, MPI, how='left',on='country').drop(['Loan Theme ID','borrower_genders','region'], axis=1)
Kiva_df['partner'] = Kiva_df['funded_amount'] - Kiva_df['direct']
display(Kiva_df)

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner
0,653051,300.00,300.00,Food,Pakistan,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,12.00,...,1.00,1.00,2.00,True,2014,0.00,NaN,South Asia,0.18,300.00
1,653053,575.00,575.00,Transportation,Pakistan,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,11.00,...,2.00,2.00,4.00,True,2014,0.00,Underserved,South Asia,0.18,575.00
2,653068,150.00,150.00,Transportation,India,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,150.00
3,653063,200.00,200.00,Arts,Pakistan,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,11.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,0.18,200.00
4,653084,400.00,400.00,Food,Pakistan,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,14.00,...,1.00,1.00,2.00,True,2014,0.00,General,South Asia,0.18,400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,NaN,nan,0.00
671201,1340316,25.00,25.00,Agriculture,Kenya,138.00,2017-07-25 06:14:08,2017-07-24 07:00:00,2017-07-26 02:09:43,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,25.00
671202,1340334,0.00,25.00,Entertainment,Kenya,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,13.00,...,0.00,0.00,0.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671203,1340338,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671204,1340339,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,Water,Sub-Saharan Africa,0.07,0.00

In [18]:
display(Kiva_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 22 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
sector                671205 non-null object
country               671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null float64
repayment_interval    671205 non-null object
male_count            671205 non-null float64
female_count          671205 non-null float64
borrower_count        671205 non-null float64
pre_disbursed         671205 non-null object
year                  671205 non-null int64
direct                671205 non-null float64
Loan Theme Type       657692 non-null object
world_region          590440 non-null object
MPI                   553578 non-null float64
partner               671205 non-null float64
dtypes: datetime64[ns](3), float64(11), int64(2), object(6)
memory usage: 117.8+ MB

None

In [19]:
# List of countries missing MPI value
Kiva1=Kiva_df[Kiva_df['MPI'].isnull()]
display(Kiva1)

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner
2,653068,150.00,150.00,Transportation,India,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,150.00
6,653067,200.00,200.00,Agriculture,India,334.00,2014-01-01 09:51:02,2013-12-16 08:00:00,2014-01-01 17:18:09,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,200.00
14,653075,225.00,225.00,Agriculture,India,334.00,2014-01-01 11:24:40,2013-12-20 08:00:00,2014-01-01 18:58:18,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,225.00
18,653066,250.00,250.00,Services,India,334.00,2014-01-01 09:48:35,2013-12-13 08:00:00,2014-01-01 17:18:09,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,250.00
25,653074,250.00,250.00,Agriculture,India,334.00,2014-01-01 11:13:09,2013-12-13 08:00:00,2014-01-01 19:01:19,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,250.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671192,1340328,0.00,875.00,Agriculture,Bolivia,59.00,2017-07-25 22:27:44,2017-07-25 07:00:00,NaT,13.00,...,2.00,2.00,4.00,True,2017,0.00,Water,NaN,nan,0.00
671193,1340333,0.00,125.00,Agriculture,Mexico,294.00,2017-07-25 23:45:38,2017-07-25 07:00:00,NaT,13.00,...,2.00,2.00,4.00,True,2017,0.00,General,Latin America and Caribbean,nan,0.00
671198,1340331,0.00,75.00,Agriculture,Mexico,294.00,2017-07-25 23:13:50,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Latin America and Caribbean,nan,0.00
671199,1340318,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 06:45:02,2017-07-24 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,Green,NaN,nan,0.00
671200,1340323,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,NaN,nan,0.00

In [20]:
Kiva1.country.unique()

array(['India', 'Tanzania', 'Vietnam', 'Palestine', 'United States',
       'Bolivia', 'Chile', 'Georgia', 'Ukraine', 'Kosovo', 'Albania',
       'The Democratic Republic of the Congo', 'Costa Rica', 'Somalia',
       'Turkey', 'Azerbaijan', 'Mexico', 'Kyrgyzstan', 'Armenia',
       'Paraguay', 'Lebanon', 'Samoa', 'Israel', 'Congo', 'South Africa',
       'Thailand', 'Vanuatu', 'Panama', 'Virgin Islands',
       'Saint Vincent and the Grenadines', 'Myanmar (Burma)', 'Moldova',
       'Solomon Islands', 'Guam', 'Puerto Rico', "Cote D'Ivoire"],
      dtype=object)

In [21]:
#List of countries missing world_region
No_region= Kiva_df[Kiva_df['world_region'].isnull()]
Non=No_region['country'].unique()
display(Non)

array(['Tanzania', 'Vietnam', 'Palestine', 'United States', 'Bolivia',
       'Chile', 'Georgia', 'Kosovo',
       'The Democratic Republic of the Congo', 'Costa Rica', 'Turkey',
       'Paraguay', 'Lebanon', 'Samoa', 'Israel', 'Congo', 'Panama',
       'Virgin Islands', 'Saint Vincent and the Grenadines',
       'Myanmar (Burma)', 'Moldova', 'Solomon Islands', 'Guam',
       'Puerto Rico', "Cote D'Ivoire"], dtype=object)

> - Countries with no world region could have a huge effect on the truthfulness of this analysis, especially on regional comparisons. Since the list is not long, I filled in the world regions

In [22]:
MPI_by_location_df['world_region'].unique()

array(['South Asia', 'Europe and Central Asia', 'Sub-Saharan Africa',
       'Latin America and Caribbean', 'East Asia and the Pacific',
       'Arab States', nan], dtype=object)

In [23]:
Fill_regions = pd.Series(['Sub-Saharan Africa','South Asia','Western Asia','North America','South America',
                         'South America','Western Asia','Europe and Central Asia','Sub-Saharan Africa','Central America','Europe and Central Asia','South America',
                         'Arab States','East Asia and the Pacific', 'Arab States','Sub-Saharan Africa','Central America',
                          'Latin America and Caribbean','Latin America and Caribbean', 'Europe and Central Asia','Europe and Central Asia', 
                         'East Asia and the Pacific','East Asia and the Pacific','Latin America and Caribbean',
                         'Sub-Saharan Africa'],
                 index =['Tanzania','Vietnam', 'Palestine', 'United States', 'Bolivia', 'Chile', 'Georgia',
                         'Kosovo', 'The Democratic Republic of the Congo', 'Costa Rica', 'Turkey', 'Paraguay', 'Lebanon',
                         'Samoa', 'Israel', 'Congo','Panama','Virgin Islands', 'Saint Vincent and the Grenadines',
                         'Myanmar (Burma)', 'Moldova', 'Solomon Islands', 'Guam', 'Puerto Rico', "Cote D'Ivoire"])
Fill_regions

Tanzania                                         Sub-Saharan Africa
Vietnam                                                  South Asia
Palestine                                              Western Asia
United States                                         North America
Bolivia                                               South America
Chile                                                 South America
Georgia                                                Western Asia
Kosovo                                      Europe and Central Asia
The Democratic Republic of the Congo             Sub-Saharan Africa
Costa Rica                                          Central America
Turkey                                      Europe and Central Asia
Paraguay                                              South America
Lebanon                                                 Arab States
Samoa                                     East Asia and the Pacific
Israel                                                  Arab States
Congo                                            Sub-Saharan Africa
Panama                                              Central America
Virgin Islands                          Latin America and Caribbean
Saint Vincent and the Grenadines        Latin America and Caribbean
Myanmar (Burma)                             Europe and Central Asia
Moldova                                     Europe and Central Asia
Solomon Islands                           East Asia and the Pacific
Guam                                      East Asia and the Pacific
Puerto Rico                             Latin America and Caribbean
Cote D'Ivoire                                    Sub-Saharan Africa
dtype: object

In [24]:
mask = Kiva_df['world_region'].isnull()
Kiva_df.loc[mask, 'world_region'] = Fill_regions[Kiva_df.loc[mask, 'country']].values
display(Kiva_df)

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner
0,653051,300.00,300.00,Food,Pakistan,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,12.00,...,1.00,1.00,2.00,True,2014,0.00,NaN,South Asia,0.18,300.00
1,653053,575.00,575.00,Transportation,Pakistan,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,11.00,...,2.00,2.00,4.00,True,2014,0.00,Underserved,South Asia,0.18,575.00
2,653068,150.00,150.00,Transportation,India,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,43.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,150.00
3,653063,200.00,200.00,Arts,Pakistan,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,11.00,...,1.00,1.00,2.00,True,2014,0.00,Underserved,South Asia,0.18,200.00
4,653084,400.00,400.00,Food,Pakistan,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,14.00,...,1.00,1.00,2.00,True,2014,0.00,General,South Asia,0.18,400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,South America,nan,0.00
671201,1340316,25.00,25.00,Agriculture,Kenya,138.00,2017-07-25 06:14:08,2017-07-24 07:00:00,2017-07-26 02:09:43,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,25.00
671202,1340334,0.00,25.00,Entertainment,Kenya,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,13.00,...,0.00,0.00,0.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671203,1340338,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671204,1340339,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,Water,Sub-Saharan Africa,0.07,0.00

In [25]:
Kiva_df['world_region'].isnull().any()

False

In [26]:
Kiva_df['world_region'].unique()

array(['South Asia', 'Sub-Saharan Africa', 'Latin America and Caribbean',
       'East Asia and the Pacific', 'Arab States', 'Western Asia',
       'North America', 'Europe and Central Asia', 'South America',
       'Central America'], dtype=object)


>> ## DATA ANALYSIS
- Get a summary of the data

In [27]:
Kiva_df.describe().drop(['id','partner_id'],axis=1)

,funded_amount,loan_amount,term_in_months,lender_count,male_count,female_count,borrower_count,year,direct,MPI,partner
count,"671,205.00","671,205.00","671,205.00","671,205.00","671,205.00","671,205.00","671,205.00","671,205.00","671,205.00","553,578.00","671,205.00"
mean,786.00,842.40,13.74,20.59,2.01,1.60,3.60,"2,015.39",30.73,0.10,755.27
std,"1,130.40","1,198.66",8.60,28.46,3.41,3.03,6.35,1.05,445.25,0.12,"1,061.12"
min,0.00,25.00,1.00,0.00,0.00,0.00,0.00,"2,014.00",0.00,0.01,0.00
25%,250.00,275.00,8.00,7.00,1.00,1.00,2.00,"2,014.00",0.00,0.03,250.00
50%,450.00,500.00,13.00,13.00,1.00,1.00,2.00,"2,015.00",0.00,0.06,450.00
75%,900.00,"1,000.00",14.00,24.00,1.00,1.00,2.00,"2,016.00",0.00,0.10,875.00
max,"100,000.00","100,000.00",158.00,"2,986.00",50.00,50.00,100.00,"2,017.00","10,000.00",0.59,"100,000.00"

> The highest loan value funded in this period was 100,000 with a repayment period of 10 years. With a 75 percentile of 900 dollars and 2 years respectively, this is an outlier.The maximum number of borrowers per loan is 100, 50 for each gender, against a lender count of 2,986. 

> On average, it takes 21 lenders to fund a loan, which averages at $842, against a borrower count of 4, meaning roughly 5 lenders for each borrower.

> The average MPI of the regions where these loans were disbursed is 0.1. However, a good number of the loans are to regions missing MPI data.

In [28]:
Kiva_df[Kiva_df['loan_amount']==100000]

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner
70499,722883,"100,000.00","100,000.00",Agriculture,Haiti,315.00,2014-06-10 19:25:02,2014-09-08 07:00:00,2014-06-19 20:21:04,75.00,...,1.00,1.00,2.00,False,2014,0.00,SME,Latin America and Caribbean,0.16,"100,000.00"

There was only one loan of $ 100,000, towards agriculture, which got fully funded on Kiva. This loan was to Haiti, a country that not only has over 40% of its population living in multi-dimensional poverty, but was also dealing with elections, natural disasters and a persistent cholera epidemic during the year 2014.

The loan was funded 9 days after being posted on Kiva but was disbursed almost 3 months later.

In [29]:
len(Kiva_df[Kiva_df['loan_amount']==25])

305

In [30]:
Unfunded = Kiva_df.query("funded_amount == 0")
display(Unfunded)

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,male_count,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner
4814,1080275,0.00,"5,000.00",Food,United States,nan,2014-01-16 19:25:16,NaT,NaT,24.00,...,1.00,1.00,2.00,False,2014,0.00,NaN,North America,nan,0.00
6784,1080314,0.00,"10,000.00",Retail,United States,nan,2014-01-21 17:19:15,NaT,NaT,36.00,...,1.00,0.00,1.00,False,2014,0.00,NaN,North America,nan,0.00
10735,1080371,0.00,"5,000.00",Services,United States,nan,2014-01-29 13:38:16,NaT,NaT,24.00,...,1.00,0.00,1.00,False,2014,0.00,NaN,North America,nan,0.00
12037,1080417,0.00,"5,000.00",Food,United States,nan,2014-02-03 13:45:55,NaT,NaT,24.00,...,1.00,0.00,1.00,False,2014,0.00,NaN,North America,nan,0.00
13542,1080465,0.00,"1,500.00",Arts,United States,nan,2014-02-06 23:56:11,NaT,NaT,12.00,...,1.00,0.00,1.00,False,2014,0.00,NaN,North America,nan,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671199,1340318,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 06:45:02,2017-07-24 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,Green,South America,nan,0.00
671200,1340323,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,South America,nan,0.00
671202,1340334,0.00,25.00,Entertainment,Kenya,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,13.00,...,0.00,0.00,0.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671203,1340338,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00
671204,1340339,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,13.00,...,1.00,1.00,2.00,True,2017,0.00,Water,Sub-Saharan Africa,0.07,0.00

In [31]:
len(Unfunded[Unfunded['partner_id'].notnull()])

2515

In [32]:
len(Unfunded[Unfunded['partner_id'].isnull()])

868

2,515 Partner loans didn't get funding on Kiva while 868 direct loans failed to fund on Kiva. It is however worth noting that Partner loans have the lion's share of all loans posted on Kiva's site.

- <b> Funded amounts by world region over the years</b>

In [33]:
Kiva_region = Kiva_df.pivot_table('funded_amount','world_region','year',aggfunc='sum',margins=True,margins_name='Total')
Kiva_region['%'] = (Kiva_region['Total']/Kiva_region['Total'].iloc[-1])*100
display(Kiva_region)

year,2014,2015,2016,2017,Total,%
world_region,,,,,,
Arab States,"7,542,425.00","5,614,875.00","5,937,825.00","3,312,300.00","22,407,425.00",4.25
Central America,"592,375.00","884,225.00","484,000.00","328,200.00","2,288,800.00",0.43
East Asia and the Pacific,"22,957,520.00","25,150,250.00","26,194,775.00","15,558,850.00","89,861,395.00",17.03
Europe and Central Asia,"13,915,950.00","12,627,375.00","11,823,650.00","6,325,875.00","44,692,850.00",8.47
Latin America and Caribbean,"35,431,125.00","34,776,425.00","35,650,250.00","17,213,500.00","123,071,300.00",23.33
North America,"5,346,735.00","6,674,000.00","7,418,205.00","3,719,600.00","23,158,540.00",4.39
South America,"11,460,300.00","14,431,200.00","14,695,425.00","7,178,225.00","47,765,150.00",9.05
South Asia,"9,233,550.00","8,764,350.00","9,725,600.00","5,209,400.00","32,932,900.00",6.24
Sub-Saharan Africa,"37,151,190.00","34,605,640.00","34,357,150.00","19,869,950.00","125,983,930.00",23.88
Western Asia,"3,084,900.00","4,801,125.00","5,225,725.00","2,289,775.00","15,401,525.00",2.92
Total,"146,716,070.00","148,329,465.00","151,512,605.00","81,005,675.00","527,563,815.00",100.00

Kiva's loans are concentrated in 3 regions:
- Sub-Saharan Africa, 23.88%
- The Latin America and Caribbean region, 23.33%
- East Asia and The Pacific, 17.03%

The Arab States got only 4% of the loans while South Asia got 6%. 

It is worth noting that the distribution of the world's multi-dimensionally poor is as follows:
- Sub-saharan Africa, 42%
- South Asia, 41%
- East Asia and The Pacific, 8.8%
- Arab States, 4.9%
- Latin America, 3%
- Europe and Central Asia, 0.3%

 East Asia & The Pacific and Europe & Central Asia have less than 3% of their population living in extreme poverty. It would therefore be safe to assume loan amounts be distributed as such, with the Arab States and Latin America getting more than the East Asia region. However, Kiva's loans data does not reflect this reality. For instance, South Asia only got 6% of the loans amount when it is home to 41% of MPI poor people.
 
 <b>PS</b>: The drop in loan amounts in 2017 is beacause the data only goes as far as July of that year.

> <b>Distribution of loan amounts by sector over the years</b>

In [34]:
Kiv = Kiva_df.pivot_table('funded_amount','sector','year',aggfunc=sum,margins=True,margins_name='Total')
Kiv['%'] = (Kiv['Total']/Kiv['Total'].iloc[-1])*100
display(Kiv)

year,2014,2015,2016,2017,Total,%
sector,,,,,,
Agriculture,"36,445,560.00","38,074,475.00","37,735,950.00","21,514,650.00","133,770,635.00",25.36
Arts,"2,985,005.00","3,016,025.00","3,737,950.00","2,082,075.00","11,821,055.00",2.24
Clothing,"10,004,200.00","9,827,320.00","9,650,750.00","5,323,000.00","34,805,270.00",6.60
Construction,"1,980,675.00","1,730,140.00","1,768,600.00","842,100.00","6,321,515.00",1.20
Education,"7,902,045.00","8,029,825.00","9,399,575.00","4,713,475.00","30,044,920.00",5.70
Entertainment,"262,660.00","321,910.00","288,375.00","150,150.00","1,023,095.00",0.19
Food,"31,683,420.00","32,302,665.00","33,434,925.00","17,668,200.00","115,089,210.00",21.82
Health,"1,871,450.00","2,560,750.00","3,161,250.00","1,578,800.00","9,172,250.00",1.74
Housing,"7,079,225.00","5,994,375.00","5,500,600.00","2,802,900.00","21,377,100.00",4.05
Manufacturing,"1,631,125.00","1,621,400.00","1,419,300.00","684,825.00","5,356,650.00",1.02
Personal Use,"3,093,600.00","3,790,875.00","4,595,450.00","2,709,850.00","14,189,775.00",2.69
Retail,"26,232,455.00","25,736,995.00","25,557,305.00","13,338,100.00","90,864,855.00",17.22
Services,"12,452,485.00","11,932,250.00","12,321,275.00","6,260,075.00","42,966,085.00",8.14
Transportation,"2,804,590.00","3,104,285.00","2,691,550.00","1,242,075.00","9,842,500.00",1.87
Wholesale,"287,575.00","286,175.00","249,750.00","95,400.00","918,900.00",0.17
Total,"146,716,070.00","148,329,465.00","151,512,605.00","81,005,675.00","527,563,815.00",100.00

25% of the loans go towards agriculture, followed closely by food at 22% and Retail at 17%. Food is the only basic need receiving a big share of the loans. All the other basic needs got less than 10% each. Total basic needs account for 43% of all loans. Adding agriculture to this figure (apart from being the main source of income in most developing countries, it mostly produces food) makes basic needs the main reason Kiva borrowers go looking for financing.

It is however worrying that education only got 5.7% of the loans when over half of the world's poor people are children.

Wholesale, entertainment and manufacturing sector received the least loan amounts, totaling to just over 1% of all loans.

> - <b>Distribution of borrowers by gender over the years</b>

In [35]:
borrowersdf = Kiva_df.pivot_table(values =['male_count','female_count'],fill_value =(0), index='world_region', columns=['year'], aggfunc=sum,margins=True)
display(borrowersdf)

                            female_count                                       \
year                                2014    2015    2016    2017          All
world_region
Arab States                         6856    4603    4178    2335    17,972.00
Central America                      589     691     189     144     1,613.00
East Asia and the Pacific          53118   68346   84103   54338   259,905.00
Europe and Central Asia             7686    8196    9575    9219    34,676.00
Latin America and Caribbean        40057   43163   48628   22747   154,595.00
North America                        650     871    1110     729     3,360.00
South America                      31493   39140   45674   23533   139,840.00
South Asia                         25971   21468   22878   11887    82,204.00
Sub-Saharan Africa                100338   97269  105841   69309   372,757.00
Western Asia                        1041    1154    1491     700     4,386.00
All                               267799  284901  323667  194941 1,071,308.00

                            male_count
year                              2014    2015    2016    2017          All
world_region
Arab States                       9051    6036    5988    3583    24,658.00
Central America                    780     984     356     240     2,360.00
East Asia and the Pacific        59974   78687   95113   61570   295,344.00
Europe and Central Asia          10598   11713   14244   12719    49,274.00
Latin America and Caribbean      57987   60664   66550   31846   217,047.00
North America                     1248    1631    1913    1148     5,940.00
South America                    33606   41479   47737   24511   147,333.00
South Asia                       26964   22444   23648   12272    85,328.00
Sub-Saharan Africa              129064  132575  151229   95500   508,368.00
Western Asia                      2225    3153    3555    1627    10,560.00
All                             331497  359366  410333  245016 1,346,212.00

In [36]:
borrowersdf = Kiva_df.pivot_table(values =['male_count','female_count'],fill_value =(0), index='world_region',
                                  aggfunc=sum, margins=True)
borrowersdf['male%'] = (borrowersdf['male_count']/(borrowersdf['male_count']+borrowersdf['female_count']))*100
borrowersdf['female%'] = (borrowersdf['female_count']/(borrowersdf['male_count']+borrowersdf['female_count']))*100
borrowersdf['diff'] = borrowersdf['male%'] - borrowersdf['female%']
df1 = borrowersdf.reset_index().sort_values('diff', ascending=True).set_index('world_region')
display(df1)

                             female_count  male_count  male%  female%  diff
world_region
South Asia                          82204       85328  50.93    49.07  1.86
South America                      139840      147333  51.30    48.70  2.61
East Asia and the Pacific          259905      295344  53.19    46.81  6.38
All                               1071308     1346212  55.69    44.31 11.37
Sub-Saharan Africa                 372757      508368  57.70    42.30 15.39
Arab States                         17972       24658  57.84    42.16 15.68
Latin America and Caribbean        154595      217047  58.40    41.60 16.80
Europe and Central Asia             34676       49274  58.69    41.31 17.39
Central America                      1613        2360  59.40    40.60 18.80
North America                        3360        5940  63.87    36.13 27.74
Western Asia                         4386       10560  70.65    29.35 41.31

Over the 4 year period, male borrowers outnumber female borrowers in all regions, with South Asia showing the smallest difference and Western Asia having a significant difference in borrowers by gender.

In general, men outnumber women by 11.37%. Given than 56% of the world's unbanked are women and they are still being outnumbered in the non-bank financial options such as Kiva, they have a long way to go in achieving equality in access to financial inclusion.

In [37]:
Kivs = Kiva_df.pivot_table(values ='borrower_count', fill_value=(0), index='world_region', aggfunc=sum,margins=True)
Kivs['%'] = (Kivs['borrower_count']/Kivs['borrower_count'].iloc[-1])*100
display(Kivs)

                             borrower_count      %
world_region
Arab States                           42630   1.76
Central America                        3973   0.16
East Asia and the Pacific            555249  22.97
Europe and Central Asia               83950   3.47
Latin America and Caribbean          371642  15.37
North America                          9300   0.38
South America                        287173  11.88
South Asia                           167532   6.93
Sub-Saharan Africa                   881125  36.45
Western Asia                          14946   0.62
All                                 2417520 100.00

Sub-Saharan Africa had by far the largest number of borrowers(36.45%) throughout the years while Central America had the least(0.16%). This would explain why the loans amount per world region vary in a similar manner.

Central and North America and Western Asia have a significantly lower number of borrowers compared to East Asia and the Pacific, Latin America and Caribbean and Sub-Saharan Africa.

In [38]:
borrowersdf1 = Kiva_df.pivot_table(values =['male_count','female_count'],fill_value =(0), index='sector', aggfunc=sum,margins=True)
borrowersdf1['female%'] = (borrowersdf1['female_count']/(borrowersdf1['female_count']+borrowersdf1['male_count']))*100
borrowersdf1['male%'] = (borrowersdf1['male_count']/(borrowersdf1['female_count']+borrowersdf1['male_count']))*100
borrowersdf1['diff'] = borrowersdf1['male%'] - borrowersdf1['female%']
df1 = borrowersdf1.reset_index().sort_values('diff', ascending=True).set_index('sector')
display(df1)

                female_count  male_count  female%  male%  diff
sector
Arts                   21553       23670    47.66  52.34  4.68
Clothing               80279       88455    47.58  52.42  4.85
Retail                200274      227040    46.87  53.13  6.26
Food                  285930      325483    46.77  53.23  6.47
Services               62798       75978    45.25  54.75  9.50
All                  1071308     1346212    44.31  55.69 11.37
Housing                30894       40310    43.39  56.61 13.22
Health                 10962       15016    42.20  57.80 15.61
Personal Use           71320      101313    41.31  58.69 17.37
Manufacturing           6588        9434    41.12  58.88 17.76
Agriculture           261231      374581    41.09  58.91 17.83
Wholesale                597         932    39.05  60.95 21.91
Education              22370       34924    39.04  60.96 21.91
Construction            6163       10456    37.08  62.92 25.83
Transportation          9799       17614    35.75  64.25 28.51
Entertainment            550        1006    35.35  64.65 29.31

In [39]:
Women_basic = df1.query("sector == ['Clothing','Food','Housing','Education','Health']")['female_count'].sum()
display(Women_basic)

430435

In [40]:
Men_basic =  df1.query("sector == ['Clothing','Food','Housing','Education','Health']")['male_count'].sum()
display(Men_basic)

504188

In [41]:
Women_nonbasic = df1.query("sector != ['Clothing','Food','Housing','Education','Health']")['female_count'].sum()
display(Women_nonbasic)

1712181

In [42]:
Men_nonbasic = df1.query("sector != ['Clothing','Food','Housing','Education','Health']")['male_count'].sum()
display(Men_nonbasic)

2188236

The distribution of borrowers by gender across sectors has some major disparities. Men outnumber women in all sectors even when grouped into basic and non-basic needs.

In agriculture, the sector with most borrowers, 58.91% are male while only 41% are female. This is the same with the education, housing and health sectors, which are key in ending the cycle of poverty among the multi-dimensionally poor.

> <b>Distribution of lenders over the years</b>
 - <b>By region

In [43]:
Kivs1 = Kiva_df.pivot_table(values ='lender_count', fill_value=(0), index='world_region', aggfunc=sum,margins=True)
Kivs1['%'] = (Kivs1['lender_count']/Kivs1['lender_count'].iloc[-1])*100
display(Kivs1)

                             lender_count      %
world_region
Arab States                        629607   4.56
Central America                     75312   0.54
East Asia and the Pacific         2461769  17.81
Europe and Central Asia           1347765   9.75
Latin America and Caribbean       3132177  22.66
North America                      434306   3.14
South America                      845097   6.11
South Asia                         996866   7.21
Sub-Saharan Africa                3458356  25.02
Western Asia                       439475   3.18
All                              13820730 100.00

Sub-Saharan Africa, Latin America and Caribbean and East Asia and the Pacific are again at the top of lender count by region, in line with their high numbers of borrowers.

 - <b>By sector<b/>

In [44]:
Kivs2 = Kiva_df.pivot_table(values ='lender_count', fill_value=(0), index='sector', aggfunc=sum)
Kivs2['%'] = (Kivs2['lender_count']/Kivs2['lender_count'].sum())*100
display(Kivs2)

                lender_count     %
sector
Agriculture          3808678 27.56
Arts                  326292  2.36
Clothing              807904  5.85
Construction          173348  1.25
Education             909788  6.58
Entertainment          26363  0.19
Food                 2714474 19.64
Health                268264  1.94
Housing               649879  4.70
Manufacturing         154164  1.12
Personal Use          428966  3.10
Retail               2158788 15.62
Services             1101129  7.97
Transportation        265169  1.92
Wholesale              27524  0.20

Most regions have a higher percentage of borrowers than lenders but Latin America has more lenders than borrowers.

> # Direct Vs Partner loans

In [45]:
Kivs3 = Kiva_df.pivot_table(values =['direct','partner'], index='world_region', aggfunc=sum)
Kivs3['direct%'] = Kivs3['direct']/(Kivs3['direct'] + Kivs3['partner'])*100
Kivs3['partner%'] = Kivs3['partner']/(Kivs3['direct'] + Kivs3['partner'])*100
display(Kivs3)

                                   direct        partner  direct%  partner%
world_region
Arab States                          0.00  22,407,425.00     0.00    100.00
Central America                      0.00   2,288,800.00     0.00    100.00
East Asia and the Pacific          395.00  89,861,000.00     0.00    100.00
Europe and Central Asia              0.00  44,692,850.00     0.00    100.00
Latin America and Caribbean    299,825.00 122,771,475.00     0.24     99.76
North America               18,727,965.00   4,430,575.00    80.87     19.13
South America                        0.00  47,765,150.00     0.00    100.00
South Asia                           0.00  32,932,900.00     0.00    100.00
Sub-Saharan Africa           1,596,480.00 124,387,450.00     1.27     98.73
Western Asia                         0.00  15,401,525.00     0.00    100.00

Partner loans outnumber direct loans in all regions except North America which is the complete opposite. Direct loans were disbursed to four regions only: North America,Sub-Saharan Africa, Latin America and Caribbean and East Asia and the Pacific.

> # Multi-dimensional analysis

- <b>Funded amounts, borrowers, lenders and world distribution of the multi-dimensionally poor </b>

In [46]:
MPI_pop = pd.DataFrame({'world_region':['Sub-Saharan Africa','South Asia', 'East Asia and the Pacific',
                        'Arab States','Latin America and Caribbean','Europe and Central Asia'],
                        'MPI_Pop%':['42','41','8.8','4.9','3','0.3']})
display(MPI_pop)

                  world_region MPI_Pop%
0           Sub-Saharan Africa       42
1                   South Asia       41
2    East Asia and the Pacific      8.8
3                  Arab States      4.9
4  Latin America and Caribbean        3
5      Europe and Central Asia      0.3

In [47]:
Kiva_df = pd.merge(Kiva_df, MPI_pop, right_on='world_region',left_on='world_region', how='left')
display(Kiva_df)

,id,funded_amount,loan_amount,sector,country,partner_id,posted_time,disbursed_time,funded_time,term_in_months,...,female_count,borrower_count,pre_disbursed,year,direct,Loan Theme Type,world_region,MPI,partner,MPI_Pop%
0,653051,300.00,300.00,Food,Pakistan,247.00,2014-01-01 06:12:39,2013-12-17 08:00:00,2014-01-02 10:06:32,12.00,...,1.00,2.00,True,2014,0.00,NaN,South Asia,0.18,300.00,41
1,653053,575.00,575.00,Transportation,Pakistan,247.00,2014-01-01 06:51:08,2013-12-17 08:00:00,2014-01-02 09:17:23,11.00,...,2.00,4.00,True,2014,0.00,Underserved,South Asia,0.18,575.00,41
2,653068,150.00,150.00,Transportation,India,334.00,2014-01-01 09:58:07,2013-12-17 08:00:00,2014-01-01 16:01:36,43.00,...,1.00,2.00,True,2014,0.00,Underserved,South Asia,nan,150.00,41
3,653063,200.00,200.00,Arts,Pakistan,247.00,2014-01-01 08:03:11,2013-12-24 08:00:00,2014-01-01 13:00:00,11.00,...,1.00,2.00,True,2014,0.00,Underserved,South Asia,0.18,200.00,41
4,653084,400.00,400.00,Food,Pakistan,245.00,2014-01-01 11:53:19,2013-12-17 08:00:00,2014-01-01 19:18:51,14.00,...,1.00,2.00,True,2014,0.00,General,South Asia,0.18,400.00,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.00,25.00,Agriculture,Paraguay,58.00,2017-07-25 16:55:34,2017-07-25 07:00:00,NaT,13.00,...,1.00,2.00,True,2017,0.00,General,South America,nan,0.00,NaN
671201,1340316,25.00,25.00,Agriculture,Kenya,138.00,2017-07-25 06:14:08,2017-07-24 07:00:00,2017-07-26 02:09:43,13.00,...,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,25.00,42
671202,1340334,0.00,25.00,Entertainment,Kenya,138.00,2017-07-26 00:02:07,2017-07-25 07:00:00,NaT,13.00,...,0.00,0.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00,42
671203,1340338,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:12:55,2017-07-25 07:00:00,NaT,13.00,...,1.00,2.00,True,2017,0.00,General,Sub-Saharan Africa,0.07,0.00,42
671204,1340339,0.00,25.00,Agriculture,Kenya,138.00,2017-07-26 06:31:46,2017-07-25 07:00:00,NaT,13.00,...,1.00,2.00,True,2017,0.00,Water,Sub-Saharan Africa,0.07,0.00,42

In [48]:
pd.set_option('display.max_rows',200)
Kiva_df['unfunded_amount']=Kiva_df['loan_amount'] - Kiva_df['funded_amount']
Kiva_df['MPI_Pop%'] = Kiva_df['MPI_Pop%'].astype('float64').fillna(0)
Kiva_df['MPI'] = Kiva_df['MPI'].fillna(0)
df = Kiva_df.pivot_table(values=['MPI_Pop%','funded_amount','unfunded_amount','borrower_count','lender_count',
                           'MPI'], index='world_region',
                   aggfunc={'MPI_Pop%':'mean','funded_amount':'sum','unfunded_amount':'sum','borrower_count':sum,
                           'lender_count':sum,'MPI':'mean'})
df['funded%'] = (df['funded_amount']/df['funded_amount'].sum())*100
df['borrower%'] = (df['borrower_count']/df['borrower_count'].sum())*100
df['lender%'] = (df['lender_count']/df['lender_count'].sum())*100
df['amount_per_lender'] = df['funded_amount']//df['lender_count']
df['lenders_per_borrower'] = df['lender_count']//df['borrower_count']
df1 = df.reset_index().sort_values('lenders_per_borrower', ascending=True).set_index('world_region')

display(df1.drop(['borrower_count','funded_amount','unfunded_amount','lender_count'], axis=1))

,MPI,MPI_Pop%,funded%,borrower%,lender%,amount_per_lender,lenders_per_borrower
world_region,,,,,,,
South America,0.00,0.00,9.05,11.88,6.11,56.00,2.00
Sub-Saharan Africa,0.18,42.00,23.88,36.45,25.02,36.00,3.00
East Asia and the Pacific,0.04,8.80,17.03,22.97,17.81,36.00,4.00
South Asia,0.10,41.00,6.24,6.93,7.21,33.00,5.00
Latin America and Caribbean,0.06,3.00,23.33,15.37,22.66,39.00,8.00
Arab States,0.03,4.90,4.25,1.76,4.56,35.00,14.00
Europe and Central Asia,0.01,0.30,8.47,3.47,9.75,33.00,16.00
Central America,0.00,0.00,0.43,0.16,0.54,30.00,18.00
Western Asia,0.00,0.00,2.92,0.62,3.18,35.00,29.00
North America,0.00,0.00,4.39,0.38,3.14,53.00,46.00

In [49]:
df1['amount_per_lender'].mean()

38.6

Even though Sub-Sahara has double the number of borrowers in Latin America, it received almost the same amount of loans in value, roughly pointing to a possibility that, holding other factors constant, Kiva's loans to Latin America have a bigger long-term impact than those to Sub-Saharan Africa. 

Lenders in The Americas have above average amounts to lend, North and South America lenders having around 20 dollars above mean to lend while Central America lenders are short of $8 to the average amount. However, these regions require a huge number of lenders per borrower, while regions with higher MPIs required fewer lenders to get a loan funded. Ignoring forex gains and losses, this shows that Kiva lenders are more concerned with helping making a change than with the risk associated with loans to certain regions.

South Asia is still worrying, with very low portions of borrowers, lenders and funded amounts yet it has the second highest MPI and MPI population.

In [50]:
pd.set_option('display.max_rows',200)
Kiva_df['unfunded_amount']=Kiva_df['loan_amount'] - Kiva_df['funded_amount']
Kiva_df['MPI_Pop%'] = Kiva_df['MPI_Pop%'].astype('float64').fillna(0)
Kiva_df['MPI'] = Kiva_df['MPI'].fillna(0)
df = Kiva_df.pivot_table(values=['MPI_Pop%','funded_amount','unfunded_amount','male_count','female_count',
                           'MPI'], index='sector',
                   aggfunc={'MPI_Pop%':'mean','funded_amount':'sum','unfunded_amount':'sum','female_count':sum,
                           'male_count':sum,'MPI':'mean'})
df['female%'] = (df['female_count']/(df['female_count']+df['male_count']))*100
df['male%'] = (df['male_count']/(df['female_count']+df['male_count']))*100
df['funded%'] = (df['funded_amount']/df['funded_amount'].sum())*100
df1 = df.reset_index().sort_values('funded_amount', ascending=True).set_index('sector')

display(df1)

,MPI,MPI_Pop%,female_count,funded_amount,male_count,unfunded_amount,female%,male%,funded%
sector,,,,,,,,,
Wholesale,0.09,21.44,597.00,"918,900.00",932.00,"76,300.00",39.05,60.95,0.17
Entertainment,0.04,9.49,550.00,"1,023,095.00","1,006.00","366,055.00",35.35,64.65,0.19
Manufacturing,0.07,18.44,"6,588.00","5,356,650.00","9,434.00","91,250.00",41.12,58.88,1.02
Construction,0.08,16.74,"6,163.00","6,321,515.00","10,456.00","373,635.00",37.08,62.92,1.20
Health,0.04,8.71,"10,962.00","9,172,250.00","15,016.00","671,150.00",42.20,57.80,1.74
Transportation,0.08,20.11,"9,799.00","9,842,500.00","17,614.00","1,224,400.00",35.75,64.25,1.87
Arts,0.08,16.48,"21,553.00","11,821,055.00","23,670.00","419,270.00",47.66,52.34,2.24
Personal Use,0.12,13.54,"71,320.00","14,189,775.00","101,313.00","765,575.00",41.31,58.69,2.69
Housing,0.06,13.72,"30,894.00","21,377,100.00","40,310.00","2,286,850.00",43.39,56.61,4.05
Education,0.06,13.57,"22,370.00","30,044,920.00","34,924.00","923,605.00",39.04,60.96,5.70
Clothing,0.09,21.01,"80,279.00","34,805,270.00","88,455.00","2,495,655.00",47.58,52.42,6.60
Services,0.07,18.77,"62,798.00","42,966,085.00","75,978.00","5,091,365.00",45.25,54.75,8.14
Retail,0.08,16.53,"200,274.00","90,864,855.00","227,040.00","7,258,045.00",46.87,53.13,17.22
Food,0.08,18.40,"285,930.00","115,089,210.00","325,483.00","6,516,940.00",46.77,53.23,21.82
Agriculture,0.08,18.37,"261,231.00","133,770,635.00","374,581.00","9,297,240.00",41.09,58.91,25.36

Clothing is the only sector with less than 5% difference by gender among borrowers. Since children make up over half of the world's poor population, it is worth noting that education sector received only 5.7% of all loans, yet female borrowers are still outnumbered by a magnitude of 21.91%, meaning education for the girl child is not a priority in the regions where Kiva works.

In [51]:
pd.set_option('display.max_rows',200)
Kiva_df['unfunded_amount']=Kiva_df['loan_amount'] - Kiva_df['funded_amount']
Kiva_df['MPI_Pop%'] = Kiva_df['MPI_Pop%'].astype('float64')
df = Kiva_df.pivot_table(values=['MPI_Pop%','funded_amount','unfunded_amount','borrower_count','lender_count',
                           'MPI'], index=['world_region','sector'],
                   aggfunc={'MPI_Pop%':'mean','funded_amount':'sum','unfunded_amount':'sum','borrower_count':sum,
                           'lender_count':sum,'MPI':'mean'})
df1 = df.reset_index().sort_values(['world_region','funded_amount'], ascending=[True,False]).set_index(['world_region','sector'])
df1 = df1.groupby('world_region').head(3).drop(['unfunded_amount','borrower_count','lender_count'], axis=1)
display(df1)

                                         MPI  MPI_Pop%  funded_amount
world_region                sector
Arab States                 Education   0.00      4.90   5,752,500.00
                            Services    0.02      4.90   3,999,675.00
                            Food        0.03      4.90   3,123,350.00
Central America             Agriculture 0.00      0.00   1,228,975.00
                            Retail      0.00      0.00     353,225.00
                            Services    0.00      0.00     195,425.00
East Asia and the Pacific   Agriculture 0.04      8.80  24,516,950.00
                            Retail      0.04      8.80  22,576,870.00
                            Food        0.03      8.80  18,127,800.00
Europe and Central Asia     Agriculture 0.01      0.30  23,679,225.00
                            Education   0.01      0.30   3,908,050.00
                            Services    0.01      0.30   2,868,025.00
Latin America and Caribbean Agriculture 0.05      3.00  33,188,650.00
                            Food        0.07      3.00  28,108,850.00
                            Retail      0.07      3.00  21,202,625.00
North America               Services    0.00      0.00   6,311,925.00
                            Food        0.00      0.00   5,850,715.00
                            Retail      0.00      0.00   2,999,520.00
South America               Food        0.00      0.00  14,286,175.00
                            Retail      0.00      0.00  10,276,050.00
                            Clothing    0.00      0.00   6,187,025.00
South Asia                  Agriculture 0.06     41.00   8,296,100.00
                            Food        0.08     41.00   5,250,175.00
                            Housing     0.00     41.00   3,515,400.00
Sub-Saharan Africa          Food        0.18     42.00  35,447,870.00
                            Agriculture 0.17     42.00  33,463,060.00
                            Retail      0.17     42.00  24,662,590.00
Western Asia                Agriculture 0.00      0.00   2,302,975.00
                            Services    0.00      0.00   2,240,950.00
                            Education   0.00      0.00   2,210,000.00

North and South America, regions with no MPI or MPI population have very different priorities compared to the other regions, which mostly prioritize agriculture and food. Arab States and Western Asia are the only regions with most of their loans going towards education.

In [52]:
pd.set_option('display.max_rows',500)
df = Kiva_df.pivot_table(values=['MPI_Pop%','funded_amount','borrower_count','lender_count',
                           'MPI'], index=['world_region','Loan Theme Type'],
                   aggfunc={'MPI_Pop%':'mean','funded_amount':'sum','borrower_count':sum,
                           'lender_count':sum,'MPI':'mean'})
df1 = df.reset_index().sort_values(['world_region','funded_amount'], ascending=[True,False]).set_index(['world_region','Loan Theme Type'])
display(df1)

                                                                            MPI  \
world_region                Loan Theme Type
Arab States                 General                                        0.00
                            Youth                                          0.02
                            Higher Education                               0.00
                            Vulnerable Populations                         0.00
                            Primary/Secondary Education                    0.01
                            Vulnerable Women                               0.01
                            Murabaha                                       0.20
                            Underserved (non-Lebanese)                     0.00
                            Primary/Secondary Education (Large)            0.00
                            Underserved (Women)                            0.00
                            Underserved                                    0.00
                            Health                                         0.00
                            Vulnerable Populations (Syrian)                0.00
                            Conflict Zone                                  0.09
                            Women Entrepreneurs                            0.01
                            Qard Hassan                                    0.04
                            Vulnerable Populations (Palestinian)           0.00
                            Startup                                        0.10
                            Youth (Women)                                  0.01
                            Extreme Poverty                                0.20
                            General (Women)                                0.00
                            Rural Inclusion                                0.00
                            WLIFT                                          0.03
                            Clean Energy                                   0.20
                            WLIFT-Conflict Zone                            0.03
                            Housing Improvement                            0.00
                            Disabled Entrepreneurs                         0.00
                            Vulnerable Populations (Syrian)2               0.00
                            Vulnerable Populations2                        0.00
                            Underserved (large)                            0.00
                            SME                                            0.00
                            WLIFT-Youth                                    0.03
                            Vulnerable Populations (Syrian)3               0.00
                            Green                                          0.01
                            Startup (Youth)                                0.15
                            Vulnerable Populations3                        0.00
                            Conflict Zone (Women)                          0.03
                            Murabaha Youth                                 0.00
                            Vulnerable Populations (Iraqi)                 0.00
                            Agriculture                                    0.01
Central America             General                                        0.00
                            Panama                                         0.00
                            Disaster Recovery                              0.00
                            Women in agriculture                           0.00
                            Youth Entrepreneurship                         0.00
                            Intercropping                                  0.00
                            SME                                            0.00
                            Biodigester                                    0.00
                            Senior Citizens                                0.00
                            Higher Education                               0.00
East Asia and the Pacific   General                                        0.03
                            Underserved                                    0.08
                            Water                                          0.10
                            Vulnerable Populations                         0.10
                            Higher Education                               0.07
                            Green                                          0.03
                            Water and Sanitation                           0.07
                            Disaster Recovery                              0.03
                            SME                                            0.00
                            End Consumer Finance                           0.01
                            Mobile Transactions                            0.08
                            Rural Inclusion                                0.10
                            Artisan                                        0.06
                            Agriculture                                    0.03
                            Solar Home Systems                             0.10
                            Startup                                        0.06
                            Full Tuition                                   0.03
                            Organic Conversion                             0.00
                            Distributor Finance                            0.08
                            Hydrologic                                     0.10
                            Value Chain                                    0.07
                            Small Enterprise                               0.03
                            Sanitation                                     0.10
                            Vocational Training                            0.03
                            Retailer Finance                               0.08
                            Community Impact Loan                          0.02
                            Biogas                                         0.08
                            Vocational High School                         0.08
                            Women Entrepreneurs                            0.10
                            Salaried Workers                               0.03
                            Clean Cookstove                                0.08
                            Seasonal Worker                                0.00
                            Coffee Production                              0.03
                            Housing Improvement                            0.01
                            Education - Cambodia                           0.10
                            Human Capital Contracts                        0.10
                            Redemption                                     0.03
                            CPO - LKM                                      0.08
                            Equipment Purchase                             0.08
                            Education                                      0.08
                            Partial Tuition                                0.03
                            Microfranchise                                 0.10
                            Cluster Enterprise Development                 0.03
                            Primary/Secondary Education                    0.00
Europe and Central Asia     General                                        0.01
                            General (Women)                                0.02
                            Vulnerable Populations                         0.00
                            Underserved                                    0.00
                            Community Impact Loan                          0.00
                            Startup                                        0.01
                            First/Second Chance                            0.00
                            Rural Inclusion                                0.01
                            Higher Education                               0.01
                            Green                                          0.00
                            Health                                         0.00
                            Agriculture                                    0.00
                            Agriculture (Women)                            0.00
                            Education                                      0.00
                            Higher Education (Women)                       0.02
                            Startup (Women)                                0.02
                            Youth                                          0.00
                            Small Business Investment Loan                 0.02
                            Conflict Zone                                  0.00
                            Water                                          0.00
                            Micro-enterprise                               0.00
                            Higher Education for Vulnerable Groups         0.02
                            Home Energy Conservation                       0.00
                            SME                                            0.00
                            Organic Agriculture                            0.00
                            Seasonal Worker                                0.00
                            Value Chain                                    0.00
                            Water and Sanitation                           0.00
                            Artisan                                        0.00
                            Clean Energy                                   0.00
                            Human Capital Contracts                        0.00
                            Solar Home Systems                             0.00
Latin America and Caribbean General                                        0.08
                            Underserved                                    0.11
                            Vulnerable Populations                         0.03
                            Subsistence Agriculture                        0.03
                            Vulnerable Women                               0.03
                            Higher Education                               0.10
                            Rural Inclusion                                0.06
                            FUSAI                                          0.03
                            Agriculture                                    0.04
                            Green                                          0.13
                            Youth Entrepreneurship                         0.07
                            Startup                                        0.05
                            SME                                            0.16
                            Single mothers                                 0.03
                            Artisan                                        0.07
                            General (Women)                                0.04
                            Flexible loan conditions                       0.06
                            At-Risk Youth                                  0.03
                            Housing Improvement                            0.02
                            Displaced Populations                          0.06
                            Health                                         0.00
                            Senior Citizens                                0.03
                            Livestock and Fishing                          0.03
                            Conflict Zone                                  0.03
                            Solar Home Systems                             0.08
                            Women Entrepreneurs                            0.04
                            Disaster Recovery                              0.01
                            Control Group - Research Study                 0.06
                            Youth                                          0.06
                            Unbanked                                       0.08
                            Water and Sanitation                           0.11
                            Organic Agriculture                            0.10
                            Coffee Production                              0.11
                            Organic Conversion                             0.07
                            ZafÌ¬n                                          0.16
                            Haiti                                          0.16
                            Extreme Poverty                                0.01
                            Agroforestry: Plantation Establishment         0.00
                            Imagen Dental                                  0.00
                            Full Tuition                                   0.06
                            Agricultural Equipment                         0.04
                            Flexible loan with reduced interest            0.06
                            End Consumer Finance                           0.00
                            Business Development Services                  0.08
                            Water                                          0.07
                            Finance to Cooperative                         0.16
                            Micro-grid                                     0.16
                            Solar refrigerator                             0.07
                            Low income students                            0.04
                            Agricultural Infrastructure                    0.07
                            Single mothers entrepreneurs                   0.03
                            Sustainable farming activities                 0.00
                            Field Renewal                                  0.07
                            FUSAI Water and Sanitation                     0.03
                            Indigenous Communities                         0.04
                            Distributor Finance                            0.14
                            Kubo Experiment - No credit history            0.00
                            Displaced Populations2                         0.06
                            Reduced Interest Rate                          0.06
                            Inventory                                      0.16
                            Clean Cookstove                                0.21
                            Micro-enterprise                               0.16
                            Silvopasture                                   0.11
                            Bee Hive                                       0.04
                            Cacao Field Renewal                            0.11
                            Village Bank                                   0.11
                            Women micro-business                           0.11
                            Education Technology                           0.01
                            Equipment Purchase                             0.00
                            Recycled material activities                   0.08
                            Profit-linked debt                             0.21
                            Solar water pump                               0.11
                            Solar electric fence                           0.11
                            Sustainable Solar Service Package              0.04
                            Passion Fruit Production                       0.05
                            Female headed households                       0.06
                            Clients below the poverty line                 0.04
                            Motorbike                                      0.16
                            Biodigester                                    0.11
                            Solar Lamps                                    0.04
                            UBER Drivers                                   0.00
                            FUSAI Green                                    0.03
                            Cacao Production                               0.11
                            Education                                      0.00
                            Clean Energy                                   0.16
                            Vulnerable Populations (Refugees)              0.00
North America               General                                        0.00
                            Kiva City Newark                               0.00
                            Promesa                                        0.00
                            Kiva City LA                                   0.00
                            Veterans                                       0.00
                            Kiva City D.C.                                 0.00
                            Detroit                                        0.00
                            Green                                          0.00
                            CAMEO Partnership                              0.00
                            Artisan                                        0.00
South America               General                                        0.00
                            Women Without Poverty                          0.00
                            Higher Education                               0.00
                            Rural Conflict Zone                            0.00
                            Startup                                        0.00
                            Health                                         0.00
                            Water                                          0.00
                            Rural Inclusion                                0.00
                            Green                                          0.00
                            Low income students                            0.00
                            Microfranchise                                 0.00
                            Youth Entrepreneurship                         0.00
                            SME                                            0.00
                            Underserved                                    0.00
                            Flexible loan with reduced interest            0.00
                            Disaster Recovery                              0.00
                            Reduced Interest Rate                          0.00
                            Flexible loan conditions                       0.00
                            Recycled material activities                   0.00
                            Agriculture                                    0.00
                            Disabled Entrepreneurs                         0.00
                            Youth                                          0.00
                            Women Entrepreneurs                            0.00
                            Conflict Zone                                  0.00
                            General (Women)                                0.00
                            Senior Citizens                                0.00

   This grouping yields quite a large pivot table, with some Loan Theme Types seeming repetitive and others being very specific. A better approach of storing this data for meaningful analysis would be to have the Loan Theme Type as a broad category and use as a subcategory. eg. There's already an agriculture sector, so having it as a 'Loan Theme Type' and 'use' is redundant.

In [53]:
pd.set_option('display.max_rows',500)
df = Kiva_df.pivot_table(values=['funded_amount','direct','partner'], index=['world_region','pre_disbursed'],
                   aggfunc=sum,margins=True)
df1 = df.reset_index().sort_values(['world_region','funded_amount'], ascending=[True,False]).set_index(['world_region','pre_disbursed'])
display(df1)

                                                 direct  funded_amount  \
world_region                pre_disbursed
All                                       20,624,665.00 527,563,815.00
Arab States                 True                   0.00  21,556,700.00
                            False                  0.00     850,725.00
Central America             True                   0.00   1,448,450.00
                            False                  0.00     840,350.00
East Asia and the Pacific   True                   0.00  87,183,850.00
                            False                395.00   2,677,545.00
Europe and Central Asia     True                   0.00  42,877,950.00
                            False                  0.00   1,814,900.00
Latin America and Caribbean True                   0.00 117,093,100.00
                            False            299,825.00   5,978,200.00
North America               False         18,725,965.00  18,856,115.00
                            True               2,000.00   4,302,425.00
South America               True                   0.00  47,651,250.00
                            False                  0.00     113,900.00
South Asia                  True                   0.00  31,598,225.00
                            False                  0.00   1,334,675.00
Sub-Saharan Africa          True                   0.00 108,438,250.00
                            False          1,596,480.00  17,545,680.00
Western Asia                True                   0.00  15,243,350.00
                            False                  0.00     158,175.00

                                                 partner
world_region                pre_disbursed
All                                       506,939,150.00
Arab States                 True           21,556,700.00
                            False             850,725.00
Central America             True            1,448,450.00
                            False             840,350.00
East Asia and the Pacific   True           87,183,850.00
                            False           2,677,150.00
Europe and Central Asia     True           42,877,950.00
                            False           1,814,900.00
Latin America and Caribbean True          117,093,100.00
                            False           5,678,375.00
North America               False             130,150.00
                            True            4,300,425.00
South America               True           47,651,250.00
                            False             113,900.00
South Asia                  True           31,598,225.00
                            False           1,334,675.00
Sub-Saharan Africa          True          108,438,250.00
                            False          15,949,200.00
Western Asia                True           15,243,350.00
                            False             158,175.00

   All pre-disbursed loans were funded through field partners except for some direct loans in North America(how?).North America is also the only region with post-disbursed loans(which are mostly direct loans) being higher in value than partner loans. 
    
   This trend is an indication that the field partners do thorough due dilligence on their borrowers for them to assume all the risks of the loan on their behalf, and disburse funds even before they receive them. It could also indicate that people in the other regions have very minimal access to credit on their own, yet they have urgent needs, hence field partners play a big role in filling this gap.

In [54]:
pd.set_option('display.max_rows',500)
terms = pd.qcut(Kiva_df['term_in_months'], 2)
df = Kiva_df.pivot_table(values='funded_amount', index='sector',columns=[terms,'repayment_interval'],aggfunc=sum)
display(df)

term_in_months     (0.999, 13.0]                                        \
repayment_interval        bullet     irregular       monthly    weekly
sector
Agriculture        21,265,735.00 16,661,925.00 17,033,950.00  7,875.00
Arts                  914,675.00  2,644,850.00  2,285,125.00  3,600.00
Clothing               93,375.00 13,807,575.00  8,604,925.00 35,400.00
Construction           15,990.00  1,212,625.00  1,273,075.00  2,475.00
Education             109,025.00  1,060,025.00  2,846,125.00       nan
Entertainment           2,500.00     90,125.00    108,825.00       nan
Food                  755,925.00 48,749,250.00 25,967,100.00 22,300.00
Health                 95,525.00  1,266,800.00    937,800.00  4,325.00
Housing                16,300.00    793,775.00  1,472,550.00       nan
Manufacturing          45,900.00  1,401,725.00    707,950.00       nan
Personal Use        1,096,825.00    805,925.00  4,037,075.00       nan
Retail                666,765.00 41,370,150.00 18,237,450.00 28,750.00
Services              246,825.00  9,824,900.00  5,248,250.00 33,825.00
Transportation         21,990.00  2,652,175.00  1,234,525.00  2,725.00
Wholesale              28,175.00    165,825.00    163,975.00       nan

term_in_months     (13.0, 158.0]
repayment_interval        bullet    irregular       monthly
sector
Agriculture        12,395,375.00 9,669,950.00 56,735,825.00
Arts                  707,130.00   711,575.00  4,554,100.00
Clothing              523,995.00   611,000.00 11,129,000.00
Construction          155,500.00   223,025.00  3,438,825.00
Education           1,360,395.00 4,347,125.00 20,322,225.00
Entertainment          74,595.00    43,125.00    703,925.00
Food                2,498,560.00 4,804,425.00 32,291,650.00
Health                 78,825.00   950,150.00  5,838,825.00
Housing               521,575.00 2,508,425.00 16,064,475.00
Manufacturing         299,525.00   209,925.00  2,691,625.00
Personal Use          632,075.00   879,250.00  6,738,625.00
Retail              2,634,715.00 3,729,075.00 24,197,950.00
Services            3,309,285.00 1,195,075.00 23,107,925.00
Transportation        197,460.00   513,950.00  5,219,675.00
Wholesale              57,600.00    88,775.00    414,550.00

In [56]:
pd.set_option('display.max_rows',500)
terms = pd.qcut(Kiva_df['term_in_months'], 2)
df = Kiva_df.pivot_table(values='funded_amount', index='sector',columns=terms,aggfunc=sum)
df1 = Kiva_df.pivot_table(values='funded_amount', index='sector',columns='repayment_interval',aggfunc=sum,margins=True)
display(df, df1)

term_in_months  (0.999, 13.0]  (13.0, 158.0]
sector
Agriculture     54,969,485.00  78,801,150.00
Arts             5,848,250.00   5,972,805.00
Clothing        22,541,275.00  12,263,995.00
Construction     2,504,165.00   3,817,350.00
Education        4,015,175.00  26,029,745.00
Entertainment      201,450.00     821,645.00
Food            75,494,575.00  39,594,635.00
Health           2,304,450.00   6,867,800.00
Housing          2,282,625.00  19,094,475.00
Manufacturing    2,155,575.00   3,201,075.00
Personal Use     5,939,825.00   8,249,950.00
Retail          60,303,115.00  30,561,740.00
Services        15,353,800.00  27,612,285.00
Transportation   3,911,415.00   5,931,085.00
Wholesale          357,975.00     560,925.00

repayment_interval,bullet,irregular,monthly,weekly,All
sector,,,,,
Agriculture,"33,661,110.00","26,331,875.00","73,769,775.00","7,875.00","133,770,635.00"
Arts,"1,621,805.00","3,356,425.00","6,839,225.00","3,600.00","11,821,055.00"
Clothing,"617,370.00","14,418,575.00","19,733,925.00","35,400.00","34,805,270.00"
Construction,"171,490.00","1,435,650.00","4,711,900.00","2,475.00","6,321,515.00"
Education,"1,469,420.00","5,407,150.00","23,168,350.00",nan,"30,044,920.00"
Entertainment,"77,095.00","133,250.00","812,750.00",nan,"1,023,095.00"
Food,"3,254,485.00","53,553,675.00","58,258,750.00","22,300.00","115,089,210.00"
Health,"174,350.00","2,216,950.00","6,776,625.00","4,325.00","9,172,250.00"
Housing,"537,875.00","3,302,200.00","17,537,025.00",nan,"21,377,100.00"
Manufacturing,"345,425.00","1,611,650.00","3,399,575.00",nan,"5,356,650.00"
Personal Use,"1,728,900.00","1,685,175.00","10,775,700.00",nan,"14,189,775.00"
Retail,"3,301,480.00","45,099,225.00","42,435,400.00","28,750.00","90,864,855.00"
Services,"3,556,110.00","11,019,975.00","28,356,175.00","33,825.00","42,966,085.00"
Transportation,"219,450.00","3,166,125.00","6,454,200.00","2,725.00","9,842,500.00"
Wholesale,"85,775.00","254,600.00","578,525.00",nan,"918,900.00"
All,"50,822,140.00","172,992,500.00","303,607,900.00","141,275.00","527,563,815.00"

   To make it easy to analyze loans by repayment terms, the terms in months were divided into two quatiles, 0 - 13 months being short term loans while anything over 13 months being a long term loan. Long term loans, and the education, entertainment, housing, manufacturing, personal use and wholesale sectors do not have weekly repayment plans.
    
   Most borrowers across all sectors prefer the monthly repayment plan, followed by irregular and bullet at a distant second and third preference respectively. The weekly plan has very few fans. Sectors such as agriculture, education and manufacturing that take time for the investment to yield returns have more than half of their loans under the monthly repayment plan rather than bullet. It would be interesting to have the actual repayment data analyzed to see what percentage is actually paid up in the first few months, especially for agricultural sector. 
    
   A huge share of loans to the clothing, food and retail sectors are short term. Further analysis of specific uses of loans in these sectors is needed to identify whether they are for income generating activities or consumption. This would help Kiva and the field partners in analyzing the impact of their work as loans for consumption purposes have very little effect in increasing financial inclusion or ending the cycle of poverty.
   
   In terms of repayment plans, clothing, food and retail sectors are the only ones where short term loans heavily outnumber long term lonas. This shows that most of the borrowers in those sectors live hand to mouth and daily incomes can't cover all their basic needs(food and clothing) at once. Short term loans in retail sector could mean most of the traders with access to Kiva loans struggle to keep their businesses afloat and are constantly seeking credit. This can be backed up by the fact that the highest number of their loans are under the irregular repayment plan and few under bullet, due to the uncertainities they are probably aware of.
   
   Loans to agriculture, education and housing sectors are largely long term. This maybe because they are capital intensive sectors that have long periods before one recovers their investment.

In [59]:
df = Kiva_df.pivot_table(['funded_amount','MPI'],index='country',aggfunc={'funded_amount':sum,'MPI':'mean'})
df1 = df.reset_index().sort_values('MPI', ascending=False).set_index('country')
df1['amount%'] = (df1['funded_amount']/df1['funded_amount'].sum())*100
df2 = df.reset_index().sort_values('funded_amount', ascending=False).set_index('country')
df2['amount%'] = (df2['funded_amount']/df2['funded_amount'].sum())*100
display(df1.head(5),df2.head(5))

              MPI  funded_amount  amount%
country
Burkina Faso 0.59   2,909,975.00     0.55
Nigeria      0.55   1,905,325.00     0.36
Sierra Leone 0.54   3,961,050.00     0.75
Benin        0.53     516,825.00     0.10
South Sudan  0.50     120,900.00     0.02

             MPI  funded_amount  amount%
country
Philippines 0.03  54,476,375.00    10.33
Kenya       0.07  32,248,405.00     6.11
Peru        0.10  30,394,850.00     5.76
Paraguay    0.00  29,412,700.00     5.58
El Salvador 0.03  23,357,725.00     4.43

Ranking countries by MPI and funded amounts respectively reveals that these two indicators have no correlation. For example, Burkina Faso, a country with the highest MPI in the regions where Kiva works, received less than 1% of the total loans while Philippines, with close to zero MPI, received the lion's share of loans at 10%.



Of all the hypotheses we started with, 3 are true, that is:

- Most borrowers are from Sub-Saharan Africa
- Loans in regions with lower MPI required fewer lenders to get funding
- Most loans to Sub-Saharan Africa, East Asia and The Pacific are in the agricultural sector

The following are false:

- Countries with higher MPI have higher values of loans
- Generally most loans go towards agriculture and education -Even though agriculture has the largest share of loans, education has a significantly smaller share.
- Most Kiva borrowers are women -From the analysis, most borrowers are male.
- Men borrow for revenue generation while women borrow for basic needs -Male borrowers outnumber their female counterparts in both categories



<b>N/B:</b>
This notebook is a work in progress and will be updated once I cover the remaining topics.